<div class="container-fluid">
    <div id="wrapper" class="page-content">

        <!-- ============================ Section one: hero ============================ -->

        <section id="hero-slider" class="carousel slide c-fade" data-ride="carousel">

            <!-- Logo -->
            <div class="logo">
                <img src="img/logo-wide.png" class="wow fadeInUp" alt="White Artisans Logo" data-wow-delay="0.2s">
            </div>

            <!-- Indicators -->
            <ol class="carousel-indicators">
                <li data-target="#hero-slider" data-slide-to="0" class="active wow fadeInUp" data-wow-delay="0.2s"></li>
                <li data-target="#hero-slider" data-slide-to="1" class="wow fadeInUp" data-wow-delay="0.4s"></li>
                <li data-target="#hero-slider" data-slide-to="2" class="wow fadeInUp" data-wow-delay="0.6s"></li>
                <li data-target="#hero-slider" data-slide-to="3" class="wow fadeInUp" data-wow-delay="0.8s"></li>
            </ol>

            <!-- Wrapper for slides -->
            <div class="carousel-inner">
                <div class="item active cover element-img" style="background-image: url('img/slider/slide-1.jpg')">
                    <div class="carousel-caption">
                        <h1 class="wow fadeInUp" data-wow-delay="0.4s">We are Souvenirs R Us.</h1>
                        <hr class="mini white wow fadeInUp" data-wow-delay="0.6s">
                        <p class="wow fadeInUp" data-wow-delay="0.8s">A White Artisans' company, focusing on bringing out the best souvenirs out of India.</p>
                    </div>
                    <div class="overlay black"></div>
                </div>
                <div class="item cover element-img" style="background-image: url('img/slider/slide-2.jpg')">
                    <div class="carousel-caption">
                        <h1 class="wow fadeInUp" data-wow-delay="0.2s">Bringing Indian Heritage to the World.</h1>
                        <hr class="mini white wow fadeInUp" data-wow-delay="0.4s">
                        <p class="wow fadeInUp" data-wow-delay="0.6s">Our goal is to bring the entire range of Indian heritage to the world through our souvenirs and handicraft
                            products.
                        </p>
                    </div>
                    <div class="overlay black"></div>
                </div>
                <div class="item cover element-img" style="background-image: url('img/slider/slide-3.jpg')">
                    <div class="carousel-caption">
                        <h1 class="wow fadeInUp" data-wow-delay="0.2s">Beautifully designed products.</h1>
                        <hr class="mini white wow fadeInUp" data-wow-delay="0.4s">
                        <p class="wow fadeInUp" data-wow-delay="0.6s">Our products are mostly hand-crafted by expert craftsmen from all over India.</p>
                    </div>
                    <div class="overlay black"></div>
                </div>
                <div class="item cover element-img" style="background-image: url('img/slider/slide-4.jpg')">
                    <div class="carousel-caption">
                        <h1 class="wow fadeInUp" data-wow-delay="0.2s">Perfect gift to capture the essence of your Indian visit.</h1>
                        <hr class="mini white wow fadeInUp" data-wow-delay="0.4s">
                        <p class="wow fadeInUp" data-wow-delay="0.6s">Our products capture the essence of your wonderful memories from your Indian trip.</p>
                    </div>
                    <div class="overlay black"></div>
                </div>
            </div>

            <!-- Controls -->
            <a class="left carousel-control" href="#hero-slider" data-slide="prev">
                <span class="icon-arrow-left2"></span>
            </a>
            <a class="right carousel-control" href="#hero-slider" data-slide="next">
                <span class="icon-arrow-right2"></span>
            </a>

        </section>

        <section class="container wow fadeInUp" data-wow-delay="0.5s">
            <div class="row padding">
                <div class="col-xs-12">
                    <h3>We are Souvenirs R Us, a White Artisans company</h3>
                    <hr class="mini">
                    <p>Sometime into the expedition, <a href="#" class="textlink" title="text link">we stumbled across</a> a
                        narrow, dark tunnel. We crawled in and started to make our way further down, and to our surprise,
                        it opened out into the largest, most lucious rainforest we had ever seen.</p>
                </div>
            </div>
        </section>

        <!-- ============================ Section three: image and text ============================ -->

        <section class="container-fluid white">
            <div class="row">
                <div class="col-md-6 textpadding wow fadeInLeft" data-wow-delay="0.5s">
                    <h3>We are Souvenirs R Us, a White Artisans company</h3>
                    <hr class="mini">
                    <p>Sometime into the expedition, <a href="#" class="textlink" title="text link">we stumbled across</a> a
                        narrow, dark tunnel. We crawled in and started to make our way further down, and to our surprise,
                        it opened out into the largest, most lucious rainforest we had ever seen.</p>
                </div>
                <div class="col-md-6 element-img" style="background-image: url('img/collaborate.jpg'); height: 540px"></div>
            </div>
        </section>

        <!-- ============================ Section five: list-items ============================ -->

        <section class="container-fluid white">
            <div class="row">
                <div class="col-md-6 element-img" style="background-image: url('img/beauty.jpg'); height: 530px"></div>
                <div class="col-md-6 textpadding wow fadeInLeft" data-wow-delay="0.5s">
                    <h3>We create things of beauty.</h3>
                    <hr class="mini">
                    <ul class="list">
                        <li><span class="icon-radio-checked"></span> We make souvenirs that reflect the diverse Indian culture
                            and the overall geographical background.</li>
                        <li><span class="icon-radio-checked"></span> We make artifacts that capture the true essence of the different
                            regions throughout India.</li>
                    </ul>
                </div>
            </div>
        </section>

        <!-- ============================ Section seven: textblock ============================ -->

        <section id="two">

            <div class="container wow fadeInUp" data-wow-delay="0.5s">
                <div class="row padding">
                    <div class="col-xs-12">
                        <p>Sometime into the expedition, <a href="#" class="textlink" title="link">we stumbled across</a> a
                            narrow, dark tunnel. We crawled in and started to make our way further down, and to our surprise,
                            it opened out into the largest, most lucious rainforest we had ever seen.</p>
                    </div>
                </div>
            </div>

            <!-- ====== Full-width blockquote ======= -->

            <div class="container-fluid">
                <div class="row">
                    <div class="col-xs-12">
                        <hr class="bq-top">
                        <blockquote class="bigtext">We have captured the entire essence of an inviting, historic and beautiful country - India, through
                            our products.
                        </blockquote>
                        <hr class="bq-bottom">
                    </div>
                </div>
            </div>

            <!-- ======= Image and text ============= -->

            <div class="container">
                <div class="row padding">
                    <div class="col-md-6 wow fadeInLeft" data-wow-delay="0.3s">
                        <p>Sometime into the expedition, we stumbled across a narrow, dark tunnel. We crawled in and started
                            to make our way further down, and to our surprise, it opened out into the largest, most lucious
                            rainforest we had ever seen.</p>
                    </div>
                    <div class="col-md-6 wow fadeInRight" data-wow-delay="0.3s">
                        <p>Sometime into the expedition, we stumbled across a narrow, dark tunnel. We crawled in and started
                            to make our way further down, and to our surprise, it opened out into the largest, most lucious
                            rainforest we had ever seen.</p>
                    </div>
                </div>
            </div>

        </section>

        <!-- ============================ Section eight: stats ============================ -->

        <section id="stats" class="element-img" style="background-image: url('img/color-hats.jpg')">
            <div class="container padding">
                <div class="row">
                    <div class="col-md-3 col-xs-6">
                        <h3>Products</h3>
                        <span class="counter">152</span>
                    </div>
                    <div class="col-md-3 col-xs-6">
                        <h3>Cities</h3>
                        <span class="counter">12</span>
                    </div>
                    <div class="col-md-3 col-xs-6">
                        <h3>Stores</h3>
                        <span class="counter">50</span>
                    </div>
                    <div class="col-md-3 col-xs-6">
                        <h3>Awards</h3>
                        <span class="counter">20</span>
                    </div>
                    <div class="overlay white"></div>
                </div>
            </div>
        </section>

        <!-- ============================ Section nine: list-items & showreel ============================ -->

        <section class="container padding">
            <div class="row">
                <div class="col-xs-12 wow fadeInUp" data-wow-delay="0.5s">
                    <h3>Ace Customer Support</h3>
                    <p>Sometime into the expedition, we stumbled across a narrow, dark tunnel - so we crawled in.</p>
                </div>
            </div>
            <br>
            <div class="row">
                <div class="col-md-6 wow fadeInLeft" data-wow-delay="0.5s">
                    <ul class="list">
                        <li><span class="icon-radio-checked"></span> We make souvenirs that reflect the diverse Indian culture
                            and the overall geographical background.</li>
                        <li><span class="icon-radio-checked"></span> We make artifacts that capture the true essence of the different
                            regions throughout India.</li>
                    </ul>
                </div>
                <div class="col-md-6 wow fadeInRight" data-wow-delay="0.5s">
                    <ol>
                        <li>We make souvenirs that reflect the diverse Indian culture and the overall geographical background.</li>
                        <li>We make artifacts that capture the true essence of the different regions throughout India.</li>
                    </ol>
                </div>
            </div>
            <br>
            <div class="row fitvids">
                <div class="col-md-12 wow fadeInUp" data-wow-delay="0.5s">
                    <iframe width="560" height="315" src="https://www.youtube.com/embed/KN0zN3Ntb_M?showinfo=0" frameborder="0" allowfullscreen></iframe>
                </div>
            </div>
        </section>

        <!-- ============================ Section ten: full-width image ============================ -->

        <section class="container-fluid">
            <div class="row">
                <div class="col-xs-12 element-img" style="background-image: url('img/goa-elephants.jpg'); height: 500px">
                </div>
            </div>
        </section>

        <!-- ============================ Section eleven: blockquote ============================ -->

        <section class="container-fluid white padding">
            <div class="row">
                <div class="col-xs-12 wow fadeInUp" data-wow-delay="0.3s">
                    <blockquote class="bigtext">India contains the whole history of philosophy in a nutshell.</blockquote>
                </div>
            </div>
        </section>

        <!-- ============================ Section twelve: blog roll ============================ -->

        <section id="blogfeed" class="container-fluid light-grey-lt">
            <div class="modtitle">
                <h3>Recent Articles</h3>
            </div>
            <div class="direction controls">
                <a href="prev" class="prev"><span class="glyphicon glyphicon-chevron-left"></span></a>
                <a href="next" class="next"><span class="glyphicon glyphicon-chevron-right"></span></a>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div id="blogslider">
                        <ul class="slides">
                            <li>
                                <div class="col-md-6 col-sm-12">
                                    <div class="flat-box">
                                        <div class="slideimg">
                                            <a href="post.html" title="Add Title"><img src="img/blogfeed/post-01.jpg" alt="Add alt tag"></a>
                                        </div>
                                        <h3 class="slidetitle"><a href="post.html" title="Post Title">Sandalwood Artefacts from Karnataka.</a></h3>
                                        <p class="blogroll-meta">Posted: April 2016, in Artefacts</p>
                                    </div>
                                </div>
                                <div class="col-md-6 col-sm-12">
                                    <div class="flat-box">
                                        <div class="slideimg">
                                            <a href="post.html" title="Add Title"><img src="img/blogfeed/post-02.jpg" alt="Add alt tag"></a>
                                        </div>
                                        <h3 class="slidetitle"><a href="post.html" title="Post Title">Leather Lampshades from Andhra Pradesh.</a></h3>
                                        <p class="blogroll-meta">Posted: April 2016, in Leather Artefacts</p>
                                    </div>
                                </div>
                            </li>
                            <li>
                                <div class="col-md-6 col-sm-12">
                                    <div class="flat-box">
                                        <div class="slideimg">
                                            <a href="post.html" title="Add Title"><img src="img/blogfeed/post-03.jpg" alt="Add alt tag"></a>
                                        </div>
                                        <h3 class="slidetitle"><a href="post.html" title="Post Title">Dancing Dolls from Tanjavur</a></h3>
                                        <p class="blogroll-meta">Posted: April 2016, in Wooden Artefacts</p>
                                    </div>
                                </div>
                                <div class="col-md-6 col-sm-12">
                                    <div class="flat-box">
                                        <div class="slideimg">
                                            <a href="post.html" title="Add Title"><img src="img/blogfeed/post-04.jpg" alt="Add alt tag"></a>
                                        </div>
                                        <h3 class="slidetitle"><a href="post.html" title="Post Title">Bankura Horses from West Bengal.</a></h3>
                                        <p class="blogroll-meta">Posted: April 2016, in Clay Artefacts</p>
                                    </div>
                                </div>
                            </li>
                            <li>
                                <div class="col-md-6 col-sm-12">
                                    <div class="flat-box">
                                        <div class="slideimg">
                                            <a href="post.html" title="Add Title"><img src="img/blogfeed/post-05.jpg" alt="Add alt tag"></a>
                                        </div>
                                        <h3 class="slidetitle"><a href="post.html" title="Post Title">Carved Horns</a></h3>
                                        <p class="blogroll-meta">Posted: April 2016, in Handicrafts</p>
                                    </div>
                                </div>
                                <div class="col-md-6 col-sm-12">
                                    <div class="flat-box">
                                        <div class="slideimg">
                                            <a href="post.html" title="Add Title"><img src="img/blogfeed/post-06.jpg" alt="Add alt tag"></a>
                                        </div>
                                        <h3 class="slidetitle"><a href="post.html" title="Post Title">Khurja Pottery from Uttar Pradesh.</a></h3>
                                        <p class="blogroll-meta">Posted: March 2016, in Clay Artefacts</p>
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </section>

        <!-- ============================ Section fourteen: testimonials ============================ -->

        <section id="testimonials" class="container padding wow fadeInUp" data-wow-delay="0.3s">
            <div class="row">
                <div class="col-xs-12 text-center">
                    <h3>What does the world say about us?</h3>
                    <hr class="mini red-lt central">
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12">
                    <div id="testo-slide" class="carousel slide" data-ride="carousel">
                        <!-- Bottom Carousel Indicators -->
                        <ol class="carousel-indicators">
                            <li data-target="#testo-slide" data-slide-to="0" class="active"></li>
                            <li data-target="#testo-slide" data-slide-to="1"></li>
                            <li data-target="#testo-slide" data-slide-to="2"></li>
                        </ol>

                        <!-- Carousel Slides / Quotes -->
                        <div class="carousel-inner">

                            <!-- Quote 1 -->
                            <div class="item active">
                                <blockquote>
                                    <div class="row">
                                        <div class="col-sm-3 text-center">
                                            <img class="img-circle" src="img/testo-1.jpg" alt="Person One">
                                        </div>
                                        <div class="col-sm-9">
                                            <p>The Souvenirs from Souvenirs are some of the best gifts you can get back from
                                                India! Truly reflects the culture and heritage of India!</p>
                                            <small>Someone famous</small>
                                        </div>
                                    </div>
                                </blockquote>
                            </div>
                            <!-- Quote 2 -->
                            <div class="item">
                                <blockquote>
                                    <div class="row">
                                        <div class="col-sm-3 text-center">
                                            <img class="img-circle" src="img/testo-2.jpg" alt="Person Two">
                                        </div>
                                        <div class="col-sm-9">
                                            <p>My friends absolutely loved the Taj Mahal shields I got back from Souvenirs R
                                                Us. Now, like me, they want to travel and experience the beautiful country
                                                called India.
                                            </p>
                                            <small>Someone famous</small>
                                        </div>
                                    </div>
                                </blockquote>
                            </div>
                            <!-- Quote 3 -->
                            <div class="item">
                                <blockquote>
                                    <div class="row">
                                        <div class="col-sm-3 text-center">
                                            <img class="img-circle" src="img/testo-3.jpg" alt="Person Three">
                                        </div>
                                        <div class="col-sm-9">
                                            <p>It's absolutely incredible to see such range of handicrafts and artefacts from
                                                India. Each region has something specific to offer and Souvenirs R Us truly
                                                captures this entire essence of the whole India experience through their
                                                products.</p>
                                            <small>Someone famous</small>
                                        </div>
                                    </div>
                                </blockquote>
                            </div>
                        </div>
                    </div>
                    <!-- End #testo-slide -->
                </div>
            </div>
        </section>

        <!-- ============================ Section fifteen: clients ============================ -->

        <section id="clients" class="white padding">
            <div class="container">
                <div class="row centertext">
                    <div class="col-xs-12">
                        <h3>OUR POPULAR STORES</h3>
                        <hr class="mini central">
                        <br>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-4 wow fadeInUp" data-wow-delay="0.3s">
                        <img src="img/clients/hipster.png" class="img-responsive" alt="Hipster">
                    </div>
                    <div class="col-xs-4 wow fadeInUp" data-wow-delay="0.6s">
                        <img src="img/clients/henderson.png" class="img-responsive" alt="Henderson">
                    </div>
                    <div class="col-xs-4 wow fadeInUp" data-wow-delay="0.9s">
                        <img src="img/clients/walkers.png" class="img-responsive" alt="Walkers">
                    </div>
                </div>
            </div>
        </section>

        <!-- ============================ Footer ============================ -->

        <footer class="padding">
            <div class="container">
                <div class="row">
                    <div class="col-xs-12">
                        <a href="index.html" title="White Artisans"><img src="img/f-logo.png" alt="White Artisans"></a>
                        <p>Souvenirs R Us - Memories 4ever</p>
                        <small>&copy; Copyright 2016 White Artisans. All rights reserved.</small>
                        <hr class="mini central light-grey-dk">
                    </div>
                </div>
            </div>
        </footer>
    </div>
</div>
